
<div>
  <nav class="navbar">
    <input class="form-control" type="text" name="search" [(ngModel)]="filter">
  </nav>
</div>


<div class="container">
<div class="columns" *ngFor="let item of validations| filter:filter; let i = index" [attr.data-index]="i">
  <div class="one-fifth column block-blue p-3 border">{{i}}</div>
  <div class="four-fifths column block-blue p-3 border">{{item["Validation Description"]}}</div>
</div><!-- react-text: 10 -->
</div><!-- react-text: 31 -->

OLD
<table class="table table-responsive table-bordered">
  <tbody>
    <tr *ngFor="let item of validations; let i = index" [attr.data-index]="i">
      <th>{{i}}</th>
      <td>{{item["Validation Description"]}}</td>
    </tr>
  </tbody>
</table>
