<cpic-mainnav class="on-dark"></cpic-mainnav>
<main role="main">
  <router-outlet></router-outlet>
</main>

<!--
  <section id="schedule">
    <h1>Schedule</h1>
    <app-schedule></app-schedule>
  </section>

  <section id="issues">
    <h1>Issues</h1>
    <app-issue url="https://api.github.com/repos/ombegov/ITDB-schema/issues?state=open"></app-issue>
  </section>

  <section id="code-links">
    <h1>Code Links</h1>
  </section>

  <section id="validations">
    <h1>Validations</h1>
    <app-validation></app-validation>
  </section>

  <section id="jira">
    <h1>Jira Board</h1>
    <app-ticket></app-ticket>
  </section>
-->
