@import 'modules/directives';
@import 'modules/settings';

header {
  display: grid;
  grid-area: header;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  position: relative;
  z-index: 99;
}

a {
  background-image: none;
}

nav {
  display: flex;
  grid-column: 1 / 3;
  grid-row: 2;

  @include breakpoint(m) {
    grid-column: 2;
    grid-row: 1;
    justify-self: end;
  }

  > ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    padding: 0;
    transition: max-height $transition-time $transition-easing;
    width: 100%;

    @include breakpoint(m) {
      flex-direction: row;
      max-height: $transition-max;
      overflow: visible;
      width: auto;
    }

    .open & {
      max-height: $transition-max;
    }

    li {
      border-top: 1px solid $color-dark-border;
      font-size: $font-size-xs;
      list-style: none;
      margin: 0;
      text-transform: uppercase;

      @include breakpoint(m) {
        align-items: stretch;
        border-right: 1px solid $color-dark-border;
        border-top-width: 0;
        display: block;
        line-height: 1;
        position: relative;

        &:last-child {
          border-width: 0;
        }
      }

      &.open > a {
        background: $color-dark-hover-background;
      }

      a {
        cursor: pointer;
        display: block;
        padding: $space-s $space-m;

        @include breakpoint(m) {
          line-height: 3rem;
          padding: 0 $space-m;
        }

        &:active,
        &:focus,
        &:hover {
          background-color: $color-dark-hover-background;
          color: inherit;
        }

        span {
          font-size: $font-size-s;
          padding-left: $space-xs;
        }
      }

      &.open ul {
        max-height: $transition-max;
      }

      > ul {
        box-shadow: $box-shadow;
        margin: 0;
        max-height: 0;
        overflow: hidden;
        padding: 0;
        transition: max-height $transition-time $transition-easing;

        @include breakpoint(m) {
          background-color: $color-dark-background;
          left: 0;
          position: absolute;
          top: 3rem;
        }

        &.full-width {
          @include breakpoint(m) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            position: fixed;
            width: 100%;
          }
          @include breakpoint(l) {
            grid-template-columns: repeat(4, 1fr);
            left: 50%;
            margin-left: -$content-max-width / 2;
            max-width: $content-max-width;
          }
        }

        li {
          border-width: 0;

          &.group {
            div {
              width: 100%;
            }

            ul {
              padding: 0;
              position: relative;
              width: 100%;
            }

            a::before {
              content: '▪';
              padding: 0 $space-s;
            }
          }

          .group-header {
            font-weight: $font-weight-bold;
            padding: $space-s $space-m;
          }

          &.highlight {
            background-color: $color-dark-background-highlight;
            font-weight: $font-weight-bold;

            @include breakpoint(m) {
              grid-column: 1 / 4;
              text-align: center;
            }

            @include breakpoint(l) {
              grid-column: 1 / 5;
            }
          }

          a {
            padding: $space-s $space-l;

            @include breakpoint(m) {
              line-height: 1;
              padding: $space-s $space-m;
              white-space: nowrap;
              width: 100%;
            }
          }
        }
      }
    }
  }
}

.nav-toggle {
  align-self: center;
  border-color: $color-dark-border;
  font-size: $font-size-xs;
  grid-column: 2;
  grid-row: 1;
  justify-self: end;
  margin: $space-m;
  padding: $space-s;
  text-transform: uppercase;

  @include breakpoint(m) {
    display: none;
  }

  .open & {
    background-color: $color-dark-hover-background;
    color: $color-dark-text;
  }

  span {
    font-size: $font-size-s;
    padding-left: $space-xs;
  }
}

.site-name {
  align-self: center;
  color: $color-dark-hover;
  display: block;
  font-family: $font-family-alt;
  grid-column: 1;
  grid-row: 1;
  line-height: 1;
  padding: $space-m;
  text-decoration: none;

  &:active,
  &:focus,
  &:hover {
    color: color(white);
  }

  span {
    font-size: $font-size-xxs;
  }
}
